*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #959BFF;
    border-radius: 15px;
    border: 1px solid black; 
    /* width: 50%; */
    padding: 40px;
    color: black;
   
}
.formulario-cadastrar ,.formulario-logar, .formulario-admin{
    margin-top: 10%;
    gap: 10%;
 
}

.primeiro-acesso{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    left: 0%;
    top: 20px;

}
p{
    font-size: 40px;
   
}
input{
    border-radius: 10px;
    border: none;
    /* padding: 10px 50px 10px 80px ; */
    position: relative;
    font-size: 30px;
    color: black;
    padding: 10px;

}

label {
    font-size: 25px;
    display: flex;
    align-self: start;
    margin-top: 20px;
    
}

.botao-cadastrar{
    background-color: #b236c6;
    border: 1px solid black; 
    border-radius: 30px ;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    position: relative ;
    
}
.botao-logar{
    background-color: #b236c6;
    border: 1px solid black; 
    border-radius: 30px ;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    position: relative ;
    top: 10px;
    margin-top: 10px;
   
}

.botao-enviar{
    background-color: #b236c6;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    position: relative ;
    top: 20px;
    cursor: pointer;
 
   
}